<component name="libraryTable">
  <library name="mybatis-3.5">
    <CLASSES>
      <root url="file://C:/Program Files (x86)/mybatis-3.5.1" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://C:/Program Files (x86)/mybatis-3.5.1" recursive="false" />
  </library>
</component>