<?xml version="1.0" encoding='UTF-8' ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <bean id = "source" class = "com.ssm.pojo.Source">
        <property name = "fruit" value = "橙汁"/>
        <property name="sugar" value="少糖"/>
        <property name="cupSize" value="中杯"/>
    </bean>
    <bean id="juice" class="com.ssm.pojo.Juice">
        <property name="shop" value="贡茶"/>
        <property name="source" ref="source"/>
    </bean>
</beans>